<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance is my world</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("..partials/header")  %>
  <main>
    <h2>Welcome To My Dance World!</h2>
    <p>
        Dance is a form of creative expression through physical movement that includes rhythmic movements that accompany music. Historically, dance has been used in celebrations and religious observances. Dance has played an important role in human societies since ancient times and continues to evolve and develop today.</p>
        <button onclick="alert('Lets Dance!')">Start Dancing</button>
  </main>
<%- include("../partials/footer")  %>
<script src="/js/animation.js"></script>
</body>
</html>